<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (C) 2014 Andrew Comminos
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.morlunk.ayandap"
    android:installLocation="auto">

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.**permission.INTERNET"/>

    <application
        android:name="com.morlunk.ayandap.FontChanger"
        android:adjustViewBounds="true"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Plumble">

        <!-- <activity android:name=".wizard.WizardActivity" /> -->
        <activity
            android:name="com.morlunk.ayandap.preference.Preferences"
            android:screenOrientation="portrait"
            android:parentActivityName="com.morlunk.ayandap.app.PlumbleActivity">
            <intent-filter>
                <action android:name="com.morlunk.ayandap.app.PREFS_GENERAL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.morlunk.ayandap.app.PREFS_AUTHENTICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.morlunk.ayandap.app.PREFS_AUDIO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.morlunk.ayandap.app.PREFS_APPEARANCE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.morlunk.ayandap.app.PREFS_ABOUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.morlunk.ayandap.service.PlumbleService"
            android:enabled="true" />
        <service
            android:name="com.morlunk.ayandap.service.FirebaseInstanceID"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.morlunk.ayandap.service.MessagingService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.morlunk.ayandap.app.PlumbleActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">


            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <!--<meta-data-->
            <!--android:name="android.app.searchable"-->
            <!--android:resource="@xml/searchable" />-->

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="mumble" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.morlunk.ayandap.preference.CertificateSelectActivity"
            android:theme="@style/Base.Theme.AppCompat.Light.Dialog">
            <intent-filter>
                <action android:name="com.morlunk.ayandap.app.CERTIFICATE_SELECT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.morlunk.ayandap.preference.CertificateImportActivity"
            android:theme="@style/Base.Theme.AppCompat.Light.Dialog">
            <intent-filter>
                <action android:name="com.morlunk.ayandap.app.CERTIFICATE_IMPORT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.morlunk.ayandap.preference.CertificateExportActivity"
            android:theme="@style/Base.Theme.AppCompat.Light.Dialog">
            <intent-filter>
                <action android:name="com.morlunk.ayandap.app.CERTIFICATE_EXPORT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.morlunk.ayandap.preference.CertificateGenerateActivity"
            android:theme="@style/Base.Theme.AppCompat.Light.Dialog">
            <intent-filter>
                <action android:name="com.morlunk.ayandap.app.CERTIFICATE_GENERATE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.morlunk.ayandap.preference.ServerCertificateClearActivity"
            android:theme="@style/Base.Theme.AppCompat.Light.Dialog">
            <intent-filter>
                <action android:name="com.morlunk.ayandap.app.CLEAR_SERVER_CERTIFICATES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.morlunk.ayandap.app.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.morlunk.ayandap.app.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.morlunk.ayandap.app.VerificationActivity"
            android:label="@string/Verification"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.morlunk.ayandap.app.SignupActivity"
            android:label="@string/Signup"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.morlunk.ayandap.app.ChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.morlunk.ayandap.app.CreateChatActivity"
            android:theme="@style/Theme.CreateChat"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.morlunk.ayandap.app.CreateGroupActivity"
            android:theme="@style/Theme.CreateChat"
            android:screenOrientation="portrait"/>

        <activity
          android:name="com.morlunk.ayandap.app.CreateChannelActivity"
          android:theme="@style/Theme.CreateChat"
          android:screenOrientation="portrait"/>

        <activity
          android:name="com.morlunk.ayandap.app.AddUserToGroup"
          android:theme="@style/Theme.CreateChat"
          android:screenOrientation="portrait"/>

        <activity
            android:name="com.morlunk.ayandap.app.FinishUpGroupActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity
          android:name="com.morlunk.ayandap.app.FinishUpChannelActivity"
          android:theme="@style/Theme.AppCompat.Light.NoActionBar"
          android:screenOrientation="portrait"/>

        <activity
            android:name="com.morlunk.ayandap.app.RequestActivity"
            android:launchMode="singleTop"
            android:label="@string/Requests"
            android:theme="@style/Theme.Plumble"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.morlunk.ayandap.app.ProfileActivity"
            android:label="@string/Profile"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.morlunk.ayandap.app.GroupInfoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.morlunk.ayandap.app.LogActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>

      <activity android:name=".app.WelcomeActivity"
                android:theme="@style/Theme.AppCompat.NoActionBar"
          android:screenOrientation="portrait"/>


    </application>

</manifest>